.register {
  .top {
    .loginButton {
      background-color: var(--red-color);
      border: none;
      border-radius: 5px;
      padding: 5px 15px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;

      a {
        color: var(--white-color);
      }
    }
  }

  .input {
    width: 50%;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 50px;
    border-radius: 5px;

    input {
      flex: 9;
      height: 100%;
      border: none;
      padding: 0 10px;
    }

    .registerButton {
      flex: 3;
      height: 100%;
      background-color: var(--red-color);
      border: none;
      color: var(--white-color);
      font-size: 22px;
      cursor: pointer;
    }
  }
}